weather_automation_final.json
{
  "name": "WeatherAssignment",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "35ec4bfe-c193-4db0-bc6c-db29a9199046",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "cityName": "={{ $json.city }}"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "92429d63-32cf-4310-a532-d261c917c544",
      "name": "OpenWeatherMap",
      "retryOnFail": true,
      "credentials": {
        "openWeatherMapApi": {
          "id": "cvPLhbyc9FGzLGtO",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const weather = $json;\nconst temp = weather.main.temp;\nconst feelsLike = weather.main.feels_like; \nconst pressure = weather.main.pressure;    \nconst desc = weather.weather[0].description.toLowerCase();\nlet alertType = 'none';\n\n// Alert Rules \nconst isPrecipitation = /rain|snow|drizzle|storm|thunder/.test(desc);\n\nif (isPrecipitation) {\n  alertType = 'precipitation alert';\n} else if (temp > 32) {\n  alertType = 'heat alert';\n} else if (temp < 0) {\n  alertType = 'frost alert';\n}\n\n// Formatted Summary\nconst summary = `\nDaily Weather - ${weather.name}\nTemp: ${temp.toFixed(1)}°C (Feels like: ${feelsLike.toFixed(1)}°C)\nCondition: ${weather.weather[0].main}\nHumidity: ${weather.main.humidity}%\nWind: ${weather.wind.speed} km/hr\nPressure: ${pressure} hPa\nAlert: ${alertType.toUpperCase()}\n`.trim();\n\nreturn {\n  city: weather.name,\n  temperature: temp,\n  feels_like: feelsLike,\n  pressure: pressure,\n  condition: weather.weather[0].main,\n  humidity: weather.main.humidity,\n  wind_speed: weather.wind.speed,\n  alert_type: alertType,\n  summary: summary,\n  raw_response: weather\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "558ef460-abac-4c87-a52c-dd6e23186f84",
      "name": "Code in JavaScript",
      "retryOnFail": true
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "weather_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "city",
              "fieldValue": "={{ $json.city }}"
            },
            {
              "fieldId": "temperature",
              "fieldValue": "={{ $json.temperature }}"
            },
            {
              "fieldId": "condition",
              "fieldValue": "={{ $json.condition }}"
            },
            {
              "fieldId": "humidity",
              "fieldValue": "={{ $json.humidity }}"
            },
            {
              "fieldId": "wind_speed",
              "fieldValue": "={{ $json.wind_speed }}"
            },
            {
              "fieldId": "alert_type",
              "fieldValue": "={{ $json.alert_type }}"
            },
            {
              "fieldId": "raw_response",
              "fieldValue": "={{ $json.raw_response }}"
            },
            {
              "fieldId": "feels_like",
              "fieldValue": "={{ $json.feels_like }}"
            },
            {
              "fieldId": "pressure",
              "fieldValue": "={{ $json.pressure }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "6bf68bf3-952e-4161-b5bc-f09d4cf29a16",
      "name": "Create a row",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "NTqnUUlqbJeFnkr4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { city: \"London\" } },\n  { json: { city: \"New York\" } },\n  { json: { city: \"Singapore\" } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "036e6487-fc74-4937-8f1c-6f593c2e1409",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "fromEmail": "geetika.adlakha89@gmail.com",
        "toEmail": "adlakha.geetika@yahoo.com",
        "subject": "=Daily Weather for {{ $json.city }} - {{ $today.format('yyyy-MM-dd') }}",
        "html": "={{ $('Code in JavaScript').item.json.summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1040,
        0
      ],
      "id": "80e5e2e5-0282-4700-a97d-9ebf782dcad2",
      "name": "Send email",
      "webhookId": "900c8865-c800-4dc2-8260-01ddc6684037",
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "pgoC1XjzwF9wdSbt",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4c1ffbaa-2392-4d89-8f92-1fae43b03a9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c58621923a469f0c146d828f91c391a0406c9ab86583ff3ff6ab2a8d330436be"
  },
  "id": "dQ2izUMC7RzriOEz",
  "tags": []
}